@{
    ViewData["Title"] = "The Art on Stage";
}

<div class="text-center">
    <h1 class="display-4">
        ¡Bienvenidos a "El Arte en Escena"! Donde el teatro cobra vida. Descubre emociones, risas y momentos inolvidables en cada función. ¡El escenario te espera!
    </h1>
    
</div>
