@{
    ViewData["Title"] = "Panel de Administración";
}

<h1>Bienvenido al Panel de Administración</h1>
<p>Aquí puedes gestionar los usuarios, ver reportes y más.</p>

<a asp-action="Index" asp-controller="Usuarios" class="btn btn-primary">Gestión de Usuarios</a>
